.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

body {
    margin: 0;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.circularProgressContainer {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}

